.navbar {
  width: 100%;
  padding-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar__list {
  list-style: none;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.navbar__list li {
  padding: 0rem 2rem;
  color: var(--secondary-grey-color);
}
.navbar__list__link {
  text-decoration: none;
}

@media only screen and (max-width: 700px) {
  .navbar {
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 80%;
  }

  .navbar__list {
    display: none;
  }

  #contat-us {
    display: none;
  }

  #navbar__menu {
    width: 30px;
    height: 30px;
    display: block;
    border: none;
    padding: 0px;
    margin: 20px;
    background: linear-gradient(
      to bottom,
      black,
      black 20%,
      #e5e5e5 20%,
      #e5e5e5 40%,
      black 40%,
      black 60%,
      #e5e5e5 60%,
      #e5e5e5 80%,
      black 80%,
      black 100%
    );
  }
}
