.services-section{
  margin: 10rem 0;
}

.services-section>h3{
  margin: 2rem;
}

.services-section__cards {
  display: flex;
}

.services-section__cards__card {
  background-color: white;
  padding: 3rem;
  margin: 1rem;
}

.services-section__cards__card__icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 1.25rem;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: var(--secondary-grey-color-3);
}

.services-section__cards__card__icon img {
  display: block;
  margin: auto;
}

.services-section__cards__card__subtitle {
  color: var(--secondary-grey-color);
}

.services-section__cards__card_learn-more {
  padding-top: 2rem;
}

.services-section__cards__card_learn-more a {
  color: var(--main-blue-color);
  text-decoration: none;
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
  .services-section__cards {
    display: flex;
    flex-direction: column;
  }
  .services-section h3 {
    text-align: center;
  }
  .services-section__cards__card {
    padding: 2rem;
  }
}
@media only screen and (max-width: 400px) {
  .services-section__cards__card__icon {
    width: 25px;
    height: 25px;
  }
  .services-section__cards__card__icon img {
    width: 20px;
  }
}
